/*
* Location Selection.
*/

.schedule-locations__wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.schedule-locations__wrapper .openy-card__item label {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .schedule-locations__wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.openy-card__item label {
  border: 2px solid #0060ad !important;
  background-color: #fff;
  color: #0060ad !important;
  font-weight: bold;
  padding: 15px 25px;
  min-height: 54px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.openy-card__item .fa-map-marker {
  color: #0060ad;
}

.openy-card__item.selected label,
.openy-card__item.selected:hover label,
.openy-card__link:hover {
  color: white !important;
  border-color: #0060ad !important;
  background: #0060ad !important;
}

.btn.skip {
  border: 2px solid #0060ad;
  border-radius: 5px;
  background-color: #fff;
  color: #0060ad;
  text-transform: uppercase;
}

.btn.skip:hover {
  background: white;
  color: #0060ad;
}

.btn.submit-locations {
  border: 2px solid #b92f9e;
  border-radius: 5px;
  margin-left: 10px;
}

.locations-header {
  background-color: #fff;
  padding-bottom: 2rem;
}

.actions-buttons-bottom {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding-bottom: 2rem;
}

.row-eq-height {
  padding: 15px 30px;
}

.field-prgf-repeat-lschedules-prf {
  display: none;
}

.text-right .error {
  color: #a51b00;
  font-size: 12px;
}
@media (min-width: 767px) {
  .schedule-locations__wrapper .submit-locations {
    position: static !important;
  }
}

.locations-header .location-select h4 {
  font-size: 14px;
  font-weight: 400;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.d-flex-location {
  display: inline-flex;
}

.location-filters {
  margin-right: 10px;
}

.js-locations-row {
  padding: 15px 0;
  background: #f2f2f2;
  margin: 10px;
  border: 1px solid #707070;
}