/*
* Schedules & Program results page.
*/

/* Content > Subheader */

.schedule-dashboard__arrow {
  cursor: pointer;
  background: none;
  border: 0;
}

.schedule-dashboard__arrow:hover {
  opacity: .7;
}

/* dashboard main date heading */

.schedule-dashboard__content--header h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #333;
  text-align: left;
}

@media (min-width: 768px) {
  .schedule-dashboard__content--header h2 {
    font-size: 28px;
  }
}

.btn.btn-schedule-pdf,
.btn.btn-schedule-pdf-generate {
  border: 1px solid #d4d4d4;
  background-color: #f4f4f4;
  border-radius: 0;
  box-shadow: none;
  color: #333;
}

.btn.btn-schedule-pdf:hover,
.btn.btn-schedule-pdf-generate:hover {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
}

.btn.btn-schedule-pdf .fa,
.btn.btn-schedule-pdf-generate .fa {
  margin-left: 10px;
}

button.show-date-filter {
  background: none;
  border: none;
  padding: 0;
}

body.modal-open .top-navs .nav-wrapper,
body.modal-open .top-navs .nav-global{
  z-index: 200 !important;
}

/* Schedules Sidebar */
.schedule-dashboard__sidebar .badge {
  background-color: #0060ad;
  border-radius: 5px;
  font-size: 10px;
  margin-left: 5px;
}

/* Calendar Schedules Sidebar */
.schedule-dashboard__sidebar .form-group-date .datepicker-inline {
  width: 100%;
}

.form-group-date .datepicker-inline .datepicker-days {
  display: grid !important;
}

.schedule-dashboard__sidebar .date {
  padding: 15px;
}

.datepicker .table-condensed > tbody > tr > td {
  background: gainsboro;
  border: 2px solid #636466;
  color: #636466;
}

.datepicker table tr td.today {
  background-color: #b92f9e;
  background-image: none;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover {
  background: #b92f9e;
}

.datepicker .header-today {
  text-transform: none;
}

.datepicker table tr td.active.active {
  background: #e7e7e7;
}
