@media (max-width: 767px) {
  .schedule-dashboard__modal .modal-dialog {
    max-width: 100%;
  }
  .modal-dialog {
    top: 15px;
    height: 100% !important;
    padding-top: 35px !important;
  }

  body.modal-open  .nav-global {
    display: none !important;
  }

  .schedule-dashboard__modal .modal-dialog {
    height: 100%;
  }

  .schedule-dashboard__modal--header {
    padding: 0;
  }

  .date-column {
    flex: 0 0 20%;
  }
  .time-column {
    flex: 0 0 20%;
  }

  .schedule-dashboard__modal--body {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  .modal-dialog {
    padding-right: 15px !important;
  }
}